.wrapper-board
  height 40px
  display flex
  align-items baseline
  .text
    flex 0 0 20px
    text-align center
  .unit
    padding 0 4px
    flex 0 0 auto
    height 100%
    line-height 40px
    font-size 36px
    font-family shuma
    text-align center
    margin 0 2px
    color #595b62
    overflow hidden
    background #ebeaf3
    ul  
      transform translateY(0px)
      transition transform 1s ease-in-out





@font-face {
  font-family: shuma;
  src: url(../font/digital.ttf);
}