.wrapper-card
  height 100vh
  background-image url('../static/gate-dark.jpg')
  background-size cover
  input
    // background redxd
    height 36px
    width 360px
    border none 
    font-size 32px
    // color transparent
  .card-box
    position fixed
    box-sizing border-box
    left 200px
    top 50%
    transform translateY(-50%)
    width 463px
    height 619px
    background-color rgba(255, 255, 255, .9)
    border-radius 14px
    padding 45px
    .text-normal
      font-size 30px
      color #2d2e38
      text-align center
    .title
      display flex
      justify-content center
      align-items center
      .icon
        width 63px
        height 50px
        img 
          height 100%
          width 100%
      .name
        margin-left 18px
    .content
      .success-wrap
        margin-top 144px
        .number
          margin-top 32px
        .success-info
          margin-top 68px
          font-size 38px
          color #44c939
          text-align center
      .error-wrap
        .iconfont
          margin-top 78px
          font-size 192px
          text-align center
          color #C62C2C
        .error-info
          margin-top 48px
          font-size 46px
          color #C62C2C
          text-align center
      .waiting-wrap, .pending-wrap
          margin-top 190px
          font-size 46px
          text-align center
      .waiting-wrap
          color #4B7FBA
      .pending-wrap
          color #37ACA3



      