// 全局样式
input 
  border none 
  outline none
  background-color transparent
html, body
  height 100%
  min-width 360px
  // overflow hidden
  background-color #fafafa
  color #424242
.justify
  text-align justify
  &:after
    content ''
    width 100%
    display inline-block

.alert
  position absolute
  z-index 1000
  top -80px
  left 50%
  transform translateX(-50%)
  width 150px
  height 50px
  background-color rgba(0, 0, 0, .6)
  color #eee
  border-radius 4px
  line-height 50px
  text-align center
  &.show
    animation alert ease-in-out 2s

@keyframes alert {
  0% {
    top -80px
  }
  30% {
    top 50px
  }
  70% {
    top 50px
  }
  100% {
    top -80px
  }
}

    