.wrapper-board
  height 60px
  display flex
  align-items baseline
  .text
    flex 0 0 20px
    text-align center
  .unit
    padding 4px
    flex 0 0 auto
    height 100%
    line-height 60px
    font-size 60px
    font-family shuma
    text-align center
    margin 0 2px
    overflow hidden
    background rgba(0 ,0 ,0 ,.1)
    ul  
      transform translateY(0px)
      transition transform 1s ease-in-out





@font-face {
  font-family: shuma;
  src: url(../font/digital.ttf);
}